* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

body {
width: 100%;
overflow-x: hidden;
}

li {
  list-style: none;
}

svg {
  fill: white;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.todo-wrap {
  margin: 0 auto;
  margin-top: 3em;
  background: beige;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  padding-right: 0em;
  background: #e4e3e2;
}

.title {
  font-size: 1.2em;
  font-weight: 500;
}

.refresh {
  width: 2em;
  height: 1em;
  padding-right: 1em;
}

.todo-input {
  width: 100%;
  padding: 1em;
  border: none;
}

.todo-input::placeholder {
  padding-left: .5em;
  font-size: 1.1em;
  font-style: italic;
  font-weight: 100;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
