.refresh {
  width: 15.5%;
}

li {
  list-style: none;
}

svg {
  fill: white;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background: saddlebrown;
}

.todo-wrap {
  margin: 0 auto;
  margin-top: 3em;
  padding: 1em;
  background: beige;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  margin: auto;
  background-color: aquamarine;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
